@import "tailwindcss";

:root {
  --background: #17181E;
  --foreground: #FFFFFF;

  --primary: #8854C0;
  --primary-foreground: #FFFFFF;

  --secondary: #30303D;
  --secondary-foreground: #FFFFFF;

  --muted: #1D1E26;
  --muted-foreground: #DADADA60;

  --destructive: #D33C43;
  --destructive-foreground: #FFFFFF;

  --success: #1D9200;
  --success-foreground: #FFFFFF;

  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-20: 1.25rem;

  --spacing-12_5: 3.125rem;
  --text-32: 2rem;
  --font-sans: var(--font-source-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}